.contenedor{

    width: auto;
    height: 650px;
    float: left;
    position: absolute;
 
}

.caja{
    width: 20px;
    max-width: 20px;
    height: 20px;
    float: left;
    position:relative;
    border-bottom: 1px solid  black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px;
    margin: 0px;

}

.relleno{
    width: 5px;
    height: 5px;
    max-width: 5px;
}

.listado{
    float:right;
    position: absolute;
}